body {
    margin: 0
}

#particles-js {
    position: relative;
    border-radius: 400px / 200px;
    top: 150px;
    left: 400px;
    width: 40%;
    height: 40%;
    background-color: #FFF;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

#background-image {
    background-image: url("../images/StarBackground-Full.png");
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.4;
    position: fixed;
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
    z-index: -1;
}

.nav {
    height: 20px;
}

.nav-item {
    font-size: 14px;
    color: #bca0bc;
    z-index: 1;
}

.col-sm {
    margin: 0 auto;
}

#content {
    position: absolute;
    top: 250px;
    left: 500px;
    color: #4e4045;
    z-index: 9999;
    font-family: 'Merienda One', cursive;
    margin: auto 0;
}

h3 {
    font-size: 28px;
}

#links {
    position: absolute;
    top: 300px;
    left: 540px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

}

li {
    display: inline-block;
}

a {
    color: #696969;
    padding: 10px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

a.nav-link {
    font-weight: bold;
}

h4 {
    font-family: 'Merienda One', cursive;
    color: #fac7da
}

h6 {
    font-family: 'Merienda One', cursive;
    color: #fac7da;
}

.about-me {
    opacity: 1.0;
    padding-bottom: 30px;
}

.card {
    margin-bottom: 5px;
}

.card-body {
    height: 477px;
}

.container-fluid {
    padding-top: 10px;
    padding: 20px;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #696969;
    font-size: 14px;
}

.oblon {
    font-size: 10px;
    font-style: italic;
}

#email,
#linkedin {
    border: 0;
}

img {
    border-top: 8px;
    border-top-style: solid;
    border-right: 8px;
    border-right-style: solid;
    border-color: #b9e2da;
}

#real {
    background-color: #edfaf7;
    padding: 3px;
}

.btn {
    background-color: #fac7da;
    border-color: #bca0bc;
    color: #696969;
}

@media only screen and (max-width:360px)and (orientation: portrait) {

    #particles-js {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-position: 100%;
    }

    #content {
        position: absolute;
        top: 40px;
        left: 50px;
        display: block;
    }

    h3 {
        font-size: 55px;
    }

    #links {
        position: absolute;
        top: 250px;
        left: 100px;    
    }
    
    #index-links {
        font-family: 'Quicksand', sans-serif;
        display: block;
        font-size: 24px;
    }
}

@media only screen and (max-width:768px)and (orientation: portrait) {

    #particles-js {
        position: relative;
        border-radius: 100px / 200px;
        top: 200px;
        left: 120px;
        width: 70%;
        height: 70%;
    }

    #content {
        position: absolute;
        top: 250px;
        left: 150px;
        display: block;
    }

    h3 {
        font-size: 38px;
    }

    #links {
        position: absolute;
        top: 330px;
        left: 200px;    
    }
    
    #index-links {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }
}

@media only screen and (max-width:1024px) {

    #particles-js {
        position: relative;
        border-radius: 100px / 200px;
        top: 200px;
        left: 160px;
        width: 70%;
        height: 70%;
    }

    #content {
        position: absolute;
        top: 300px;
        left: 290px;
        display: block;
    }

    h3 {
        font-size: 38px;
    }

    #links {
        position: absolute;
        top: 370px;
        left: 350px;    
    }
    
    #index-links {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }
}

@media only screen and (min-width:1920px){

    #particles-js {
        position: relative;
        border-radius: 100px / 200px;
        top: 300px;
        left: 500px;
        width: 50%;
        height: 50%;
    }

    #content {
        position: absolute;
        top: 500px;
        left: 820px;
        display: block;
    }

    h3 {
        font-size: 100;
    }

    #links {
        position: absolute;
        top: 550px;
        left: 800px;    
    }
    
    #index-links {
        font-family: 'Quicksand', sans-serif;
        font-size: 24px;
    }
}